<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Blackmarkettmit.html</welcome-file>
	</welcome-file-list>

	<!-- Servlets -->
	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>LoginService</servlet-name>
		<servlet-class>hu.edudroid.blackmarkettmit.server.LoginServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>FacebookMessageServlet</servlet-name>
		<servlet-class>hu.edudroid.blackmarkettmit.server.FacebookMessageServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ContactRequest</servlet-name>
		<servlet-class>hu.edudroid.blackmarkettmit.server.ContactRequestServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>FacebookServlet</servlet-name>
		<servlet-class>hu.edudroid.blackmarkettmit.server.FacebookServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>FacebookLoginServlet</servlet-name>
		<servlet-class>hu.edudroid.blackmarkettmit.server.FacebookLoginServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>FacebookLogoutServlet</servlet-name>
		<servlet-class>hu.edudroid.blackmarkettmit.server.FacebookLogoutServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>FacebookMessageServlet</servlet-name>
		<servlet-class>hu.edudroid.blackmarkettmit.server.FacebookMessageServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>

	
	<!-- Servlet mapping -->
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LoginService</servlet-name>
		<url-pattern>/blackmarkettmit/login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ContactRequest</servlet-name>
		<url-pattern>/blackmarkettmit/contactRequest</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>FacebookLoginServlet</servlet-name>
		<url-pattern>/FacebookLoginServlet/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>FacebookLogoutServlet</servlet-name>
		<url-pattern>/FacebookLogoutServlet/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FacebookMessageServlet</servlet-name>
		<url-pattern>/FacebookMessageServlet/*</url-pattern>
	</servlet-mapping>
		
	<servlet-mapping>
		<servlet-name>FacebookServlet</servlet-name>
		<url-pattern>/FacebookServlet/*</url-pattern>
	</servlet-mapping>

</web-app>